body {
  background-image: url('./assets/b2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;

  .input:active,
  .input:focus {
    border-color: #272A2D!important;
  }

  header {

    nav {
      background-color: #272A2D!important;

      .nav-left {
        .icon {
          margin-right: 10px;
        }
      }

      .nav-item {
        color: #FFF;

        &:hover {
          color: #DDD;
        }
      }

      .nav-toggle {
        span {
          background-color: #FFF!important;
        }
      }

      .nav-toggle:hover {
        background-color: #272A2D!important;
      }

      .nav-toggle.is-active {
        background-color: #FFF;
      }

      .nav-menu.is-active {
        .nav-item {
          color: #272A2D;
        }
      }
    }
  }

  .hero {
    background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.5)), 
      url("./assets/xx.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 45vh;

    .content {
      width: 100vw;
      height: 100%;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 25px;

      .title {
        color: #FFF;
        font-family: 'Merriweather', serif;
      }

      .subtitle {
        color: #DDD;
      }
    }
  }

  .about-us {
    width: 100vw;
    height: auto;
    padding: 50px;
    background-color: #FFF;

    .container {
      height: 100%;

      .content {
        width: 100%;
        height: 100%;
        padding: 25px;

        .title {
          position: relative;
        }

        .title:before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0px;
          height: 1px;
          width: 135px;
          border-bottom: 2px solid #363636;
        }

        .about-us-content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 40px;
        }

        .half {
          width: 45%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .services {
    width: 100vw;
    height: auto;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);

    .container {
      height: 100%;

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .section-title {
          color: #FFF;
          position: relative;
        }

        // .section-title:before {
        //   content: "";
        //   position: absolute;
        //   bottom: -5px;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   height: 1px;
        //   width: 180px;
        //   border-bottom: 2px solid #DDD;
        // }

        .level {
          margin-top: 40px;

          .level-item {
            max-width: 25%;

            .service-container {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;

              .service-title {
                color: #FFF;
              }

              .service-title:nth-child(3) {
                color: #DDD;
              }

              .service-content {
                width: 75%;
                color: #FFF;
                margin-top: 20px;
              }

              .icon {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #363636;

                i {
                  font-size: 62px;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact-us {
    width: 100vw;
    height: auto;
    padding: 50px 20px;
    background-color: #FFF;

    .container {
      height: 100%;

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  footer {
    height: 200px;
    background-color: #272A2D;
    padding-top: 50px;
    position: relative;

    nav {
      background: none!important;

      .nav-item {
        color: #FFF;

        &:hover {
          color: #DDD;
        }
      }

      .nav-left {
        .icon {
          margin-right: 10px;
        }
      }

      .nav-center {
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .about-us-content {
    flex-direction: column!important;

    .half {
      width: 100%!important;
      padding: 10px 0;
    }
  }

  .services {
    .level {
      flex-direction: column!important;

      .level-item {
        max-width: 100%!important;
        padding: 20px 0;
      }
    }
  }

  .contact-us {
    padding: 0 25px;
  }

  footer {
    .container {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center!important;
    }
  }
}